.container {
    display: flex;
    justify-content: space-around;
    flex-flow:column wrap;    
    border: 2px dashed teal;
}

.friend {
    border: 2px solid red;
    display: flex;    
    flex-flow: column nowrap;
    width: 33%;
    padding: 1em;
    margin: 1% auto 1% auto;
    min-width: 333px;
}

.friendName {
    text-align: center;
}